-- ========================================================
-- Advanced IELTS Vocabulary Content (Batch 2)
-- Safely inserts words using idempotent sub-select checks
-- Analyzed heavily from top IELTS Task 2 & Reading bands
-- ========================================================

-- #13 MITIGATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'mitigate', 'to make something less severe', 'To make the severity, seriousness, or painfulness of something less intense. Extremely common in environmental and policy essays.', 'VERB', 'ADVANCED', 7.0, 9.0, 'Using "mitigate against" when just "mitigate" is correct. E.g., "This will mitigate the damage" not "mitigate against the damage".', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'mitigate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'alleviate' FROM vocabulary_word WHERE word = 'mitigate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'alleviate');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'reduce' FROM vocabulary_word WHERE word = 'mitigate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'reduce');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'mitigate the effects of' FROM vocabulary_word WHERE word = 'mitigate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'mitigate the effects of');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'mitigate risks' FROM vocabulary_word WHERE word = 'mitigate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'mitigate risks');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Governments must introduce renewable energy policies to mitigate the effects of carbon emissions.', FALSE, TRUE FROM vocabulary_word WHERE word = 'mitigate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Governments must introduce renewable energy policies to mitigate the effects of carbon emissions.');

-- #14 EXACERBATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'exacerbate', 'to make a bad situation worse', 'To make a problem, bad situation, or negative feeling worse. A high-impact verb for cause-effect and problem-solution essay types.', 'VERB', 'ADVANCED', 7.5, 9.0, 'Mispronunciation: ex-AS-er-bate, not ex-ACE-er-bate. Also avoid pairing it with "aggravate" redundantly.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'exacerbate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'aggravate' FROM vocabulary_word WHERE word = 'exacerbate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'aggravate');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'worsen' FROM vocabulary_word WHERE word = 'exacerbate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'worsen');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'exacerbate the problem' FROM vocabulary_word WHERE word = 'exacerbate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'exacerbate the problem');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'further exacerbate' FROM vocabulary_word WHERE word = 'exacerbate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'further exacerbate');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'A lack of government investment in public transport further exacerbates urban congestion.', FALSE, TRUE FROM vocabulary_word WHERE word = 'exacerbate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'A lack of government investment in public transport further exacerbates urban congestion.');

-- #15 PROLIFERATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'proliferate', 'to increase rapidly in number', 'To grow or reproduce rapidly; to spread or extend to many places in quick succession. Effective in technology and social change essays.', 'VERB', 'ADVANCED', 7.0, 9.0, 'Confusing the noun "proliferation" with "multiplication". Proliferation carries a connotation of concern or alarm.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'proliferate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'multiply' FROM vocabulary_word WHERE word = 'proliferate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'multiply');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'burgeon' FROM vocabulary_word WHERE word = 'proliferate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'burgeon');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'continue to proliferate' FROM vocabulary_word WHERE word = 'proliferate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'continue to proliferate');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'nuclear proliferation' FROM vocabulary_word WHERE word = 'proliferate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'nuclear proliferation');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Online misinformation has continued to proliferate due to the absence of strict regulatory frameworks.', FALSE, TRUE FROM vocabulary_word WHERE word = 'proliferate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Online misinformation has continued to proliferate due to the absence of strict regulatory frameworks.');

-- #16 DISPARITY
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'disparity', 'a great difference between things', 'A great difference between two or more things; a lack of equality or similarity, especially in a way considered unfair. High-scoring in inequality and education essays.', 'NOUN', 'ADVANCED', 7.0, 9.0, 'Using "disparity between" but forgetting the second term. Always write "disparity between X and Y".', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'disparity');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'inequality' FROM vocabulary_word WHERE word = 'disparity' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'inequality');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'gap' FROM vocabulary_word WHERE word = 'disparity' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'gap');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'wealth disparity' FROM vocabulary_word WHERE word = 'disparity' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'wealth disparity');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'disparity between rich and poor' FROM vocabulary_word WHERE word = 'disparity' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'disparity between rich and poor');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'The growing disparity between rich and poor nations threatens global economic stability.', FALSE, TRUE FROM vocabulary_word WHERE word = 'disparity' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The growing disparity between rich and poor nations threatens global economic stability.');

-- #17 ADVOCATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'advocate', 'to publicly support or recommend', 'To publicly recommend or support a particular cause or policy. Can function as both a noun and a verb, making it versatile across essay types.', 'VERB', 'INTERMEDIATE', 6.5, 9.0, 'Using "advocate for" when the verb alone is sufficient. "Advocates stricter laws" is correct; "advocates for stricter laws" is informal.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'advocate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'champion' FROM vocabulary_word WHERE word = 'advocate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'champion');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'promote' FROM vocabulary_word WHERE word = 'advocate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'promote');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'advocate stricter measures' FROM vocabulary_word WHERE word = 'advocate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'advocate stricter measures');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'strong advocate of' FROM vocabulary_word WHERE word = 'advocate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'strong advocate of');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Many environmentalists advocate stricter penalties for corporations that exceed carbon emission limits.', FALSE, TRUE FROM vocabulary_word WHERE word = 'advocate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Many environmentalists advocate stricter penalties for corporations that exceed carbon emission limits.');

-- #18 SUBSTANTIAL
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'substantial', 'large in size, value, or importance', 'Of considerable importance, size, or worth. A powerful academic alternative to "big" or "large" that elevates lexical resource scores.', 'ADJECTIVE', 'INTERMEDIATE', 6.0, 8.5, 'Overusing it for minor amounts. Reserve "substantial" for genuinely large or significant quantities.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'substantial');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'considerable' FROM vocabulary_word WHERE word = 'substantial' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'considerable');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'significant' FROM vocabulary_word WHERE word = 'substantial' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'significant');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'substantial evidence' FROM vocabulary_word WHERE word = 'substantial' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'substantial evidence');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'substantial investment' FROM vocabulary_word WHERE word = 'substantial' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'substantial investment');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Substantial investment in early childhood education yields long-term economic benefits for any nation.', FALSE, TRUE FROM vocabulary_word WHERE word = 'substantial' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Substantial investment in early childhood education yields long-term economic benefits for any nation.');

-- #19 DETRIMENTAL
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'detrimental', 'causing harm or damage', 'Tending to cause harm or damage; harmful to a specific thing. Ideal for discussing negative consequences in Task 2 essays.', 'ADJECTIVE', 'ADVANCED', 6.5, 9.0, 'Forgetting the preposition "to" after it. Always use "detrimental to", never "detrimental for".', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'detrimental');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'harmful' FROM vocabulary_word WHERE word = 'detrimental' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'harmful');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'damaging' FROM vocabulary_word WHERE word = 'detrimental' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'damaging');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'detrimental to health' FROM vocabulary_word WHERE word = 'detrimental' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'detrimental to health');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'detrimental effect on' FROM vocabulary_word WHERE word = 'detrimental' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'detrimental effect on');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Excessive screen time is detrimental to the cognitive development of young children.', FALSE, TRUE FROM vocabulary_word WHERE word = 'detrimental' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Excessive screen time is detrimental to the cognitive development of young children.');

-- #20 SCRUTINISE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'scrutinise', 'to examine something very carefully', 'To examine or inspect closely and thoroughly; often used in contexts of accountability, research, and policy evaluation.', 'VERB', 'ADVANCED', 7.0, 9.0, 'Spelling variation: "scrutinize" is American English; "scrutinise" is British English. IELTS accepts both but be consistent.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'scrutinise');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'examine' FROM vocabulary_word WHERE word = 'scrutinise' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'examine');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'inspect' FROM vocabulary_word WHERE word = 'scrutinise' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'inspect');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'closely scrutinise' FROM vocabulary_word WHERE word = 'scrutinise' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'closely scrutinise');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'scrutinise government policy' FROM vocabulary_word WHERE word = 'scrutinise' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'scrutinise government policy');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Independent bodies must closely scrutinise government spending to prevent corruption and misuse of funds.', FALSE, TRUE FROM vocabulary_word WHERE word = 'scrutinise' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Independent bodies must closely scrutinise government spending to prevent corruption and misuse of funds.');

-- #21 ALLEVIATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'alleviate', 'to make suffering or a problem less severe', 'To make suffering, deficiency, or a problem less severe. A preferred academic alternative to "reduce" when discussing hardship or social issues.', 'VERB', 'ADVANCED', 6.5, 9.0, 'Using "alleviate" for non-negative things. It is reserved for problems, pain, or burdens — not neutral quantities.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'alleviate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'relieve' FROM vocabulary_word WHERE word = 'alleviate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'relieve');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'ease' FROM vocabulary_word WHERE word = 'alleviate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'ease');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'alleviate poverty' FROM vocabulary_word WHERE word = 'alleviate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'alleviate poverty');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'alleviate pressure on' FROM vocabulary_word WHERE word = 'alleviate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'alleviate pressure on');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Expanding public healthcare access is one of the most effective means of alleviating poverty in rural areas.', FALSE, TRUE FROM vocabulary_word WHERE word = 'alleviate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Expanding public healthcare access is one of the most effective means of alleviating poverty in rural areas.');

-- #22 CONTENTIOUS
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'contentious', 'causing or likely to cause disagreement', 'Causing or likely to cause an argument; controversial. Excellent for introducing opposing viewpoints in discursive essays.', 'ADJECTIVE', 'ADVANCED', 7.0, 9.0, 'Confusing with "contemptuous" (meaning showing contempt). They are completely unrelated in meaning.', TRUE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'contentious');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'controversial' FROM vocabulary_word WHERE word = 'contentious' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'controversial');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'disputed' FROM vocabulary_word WHERE word = 'contentious' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'disputed');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'contentious issue' FROM vocabulary_word WHERE word = 'contentious' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'contentious issue');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'highly contentious debate' FROM vocabulary_word WHERE word = 'contentious' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'highly contentious debate');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Capital punishment remains a highly contentious issue that divides opinion across both developed and developing nations.', FALSE, TRUE FROM vocabulary_word WHERE word = 'contentious' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Capital punishment remains a highly contentious issue that divides opinion across both developed and developing nations.');

-- #23 FACILITATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'facilitate', 'to make something easier or possible', 'To make an action or process easier; to help bring about a result. Widely used in essays about education, trade, and technology policy.', 'VERB', 'INTERMEDIATE', 6.5, 9.0, 'Writing "facilitate to do" instead of "facilitate doing". Correct: "facilitate learning", not "facilitate to learn".', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'facilitate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'enable' FROM vocabulary_word WHERE word = 'facilitate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'enable');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'expedite' FROM vocabulary_word WHERE word = 'facilitate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'expedite');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'facilitate economic growth' FROM vocabulary_word WHERE word = 'facilitate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'facilitate economic growth');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'facilitate communication' FROM vocabulary_word WHERE word = 'facilitate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'facilitate communication');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Digital infrastructure in remote areas can greatly facilitate access to quality education and healthcare.', FALSE, TRUE FROM vocabulary_word WHERE word = 'facilitate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Digital infrastructure in remote areas can greatly facilitate access to quality education and healthcare.');

-- #24 DETERIORATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'deteriorate', 'to become progressively worse', 'To become progressively worse over time. Often used in environmental, health, and societal decline arguments.', 'VERB', 'INTERMEDIATE', 6.0, 8.5, 'Using "deteriorate" transitively. It is intransitive — never write "this deteriorated the situation"; write "the situation deteriorated".', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'deteriorate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'decline' FROM vocabulary_word WHERE word = 'deteriorate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'decline');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'worsen' FROM vocabulary_word WHERE word = 'deteriorate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'worsen');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'rapidly deteriorate' FROM vocabulary_word WHERE word = 'deteriorate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'rapidly deteriorate');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'deteriorate significantly' FROM vocabulary_word WHERE word = 'deteriorate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'deteriorate significantly');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Air quality in industrial cities continues to deteriorate as emissions from factories go unregulated.', FALSE, TRUE FROM vocabulary_word WHERE word = 'deteriorate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Air quality in industrial cities continues to deteriorate as emissions from factories go unregulated.');

-- #25 INTRINSIC
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'intrinsic', 'belonging naturally to something', 'Belonging naturally; essential; forming a basic and permanent part of something. Powerful in philosophical and education-topic essays.', 'ADJECTIVE', 'ADVANCED', 7.5, 9.0, 'Confusing with "intricate" (meaning complex). They are unrelated. Also note it is always "intrinsic to", never "intrinsic of".', TRUE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'intrinsic');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'inherent' FROM vocabulary_word WHERE word = 'intrinsic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'inherent');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'innate' FROM vocabulary_word WHERE word = 'intrinsic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'innate');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'intrinsic value' FROM vocabulary_word WHERE word = 'intrinsic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'intrinsic value');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'intrinsic motivation' FROM vocabulary_word WHERE word = 'intrinsic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'intrinsic motivation');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'A love of learning is intrinsic to academic success and cannot be instilled through exam pressure alone.', FALSE, TRUE FROM vocabulary_word WHERE word = 'intrinsic' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'A love of learning is intrinsic to academic success and cannot be instilled through exam pressure alone.');

-- #26 PERPETUATE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'perpetuate', 'to make something continue indefinitely', 'To cause something, especially something undesirable, to continue indefinitely. Strong choice when discussing cycles of poverty, stereotypes, or systemic issues.', 'VERB', 'ADVANCED', 7.0, 9.0, 'Confusing with "perpetrate" (to carry out a harmful or illegal act). These are entirely different words.', TRUE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'perpetuate');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'sustain' FROM vocabulary_word WHERE word = 'perpetuate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'sustain');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'prolong' FROM vocabulary_word WHERE word = 'perpetuate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'prolong');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'perpetuate inequality' FROM vocabulary_word WHERE word = 'perpetuate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'perpetuate inequality');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'perpetuate harmful stereotypes' FROM vocabulary_word WHERE word = 'perpetuate' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'perpetuate harmful stereotypes');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Biased media representation can perpetuate harmful stereotypes and hinder social progress for decades.', FALSE, TRUE FROM vocabulary_word WHERE word = 'perpetuate' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Biased media representation can perpetuate harmful stereotypes and hinder social progress for decades.');

-- #27 AMBIVALENT
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'ambivalent', 'having mixed feelings about something', 'Having mixed feelings or contradictory ideas about something or someone; uncertain how to react. Useful for nuanced argument essays where both sides are weighed.', 'ADJECTIVE', 'ADVANCED', 7.0, 9.0, 'Confusing with "ambiguous" (meaning unclear). "Ambivalent" is about mixed emotions; "ambiguous" is about unclear meaning.', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'ambivalent');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'undecided' FROM vocabulary_word WHERE word = 'ambivalent' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'undecided');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'conflicted' FROM vocabulary_word WHERE word = 'ambivalent' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'conflicted');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'ambivalent attitude towards' FROM vocabulary_word WHERE word = 'ambivalent' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'ambivalent attitude towards');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'remain ambivalent about' FROM vocabulary_word WHERE word = 'ambivalent' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'remain ambivalent about');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Many citizens remain ambivalent about nuclear energy, recognising its efficiency while fearing its risks.', FALSE, TRUE FROM vocabulary_word WHERE word = 'ambivalent' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Many citizens remain ambivalent about nuclear energy, recognising its efficiency while fearing its risks.');-- #28 METICULOUS
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'meticulous', 'showing great attention to detail', 'Showing great attention to detail; very careful and precise. Essential for describing research, artistic work, or careful planning.', 'ADJECTIVE', 'ADVANCED', 7.5, 9.0, 'Misspelling as "meticulus". Using it in a negative sense (it is almost always positive or neutral).', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'meticulous');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'careful' FROM vocabulary_word WHERE word = 'meticulous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'careful');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'thorough' FROM vocabulary_word WHERE word = 'meticulous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'thorough');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'meticulous attention to detail' FROM vocabulary_word WHERE word = 'meticulous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'meticulous attention to detail');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'meticulous planning' FROM vocabulary_word WHERE word = 'meticulous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'meticulous planning');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'The project required meticulous planning to ensure that all safety regulations were met.', FALSE, TRUE FROM vocabulary_word WHERE word = 'meticulous' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The project required meticulous planning to ensure that all safety regulations were met.');
-- #29 UBIQUITOUS
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'ubiquitous', 'present, appearing, or found everywhere', 'Present, appearing, or found everywhere. Perfect for describing modern technology, pollution, or advertisements.', 'ADJECTIVE', 'ADVANCED', 8.0, 9.0, 'Mispronouncing or misspelling. Confusing with "unique" (one of a kind).', TRUE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'ubiquitous');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'omnipresent' FROM vocabulary_word WHERE word = 'ubiquitous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'omnipresent');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'pervasive' FROM vocabulary_word WHERE word = 'ubiquitous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'pervasive');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'ubiquitous presence' FROM vocabulary_word WHERE word = 'ubiquitous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'ubiquitous presence');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Smartphones have become ubiquitous in modern society, changing the way people interact.', FALSE, TRUE FROM vocabulary_word WHERE word = 'ubiquitous' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Smartphones have become ubiquitous in modern society, changing the way people interact.');
-- #30 PROLIFIC
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'prolific', 'producing a large amount of something', 'Producing many works, results, or offspring. Highly useful for describing writers, artists, or inventors.', 'ADJECTIVE', 'ADVANCED', 7.5, 9.0, 'Confusing with "profuse" (abundant).', FALSE, 'PUBLISHED'
    WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'prolific');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'productive' FROM vocabulary_word WHERE word = 'prolific' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'productive');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'creative' FROM vocabulary_word WHERE word = 'prolific' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'creative');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'prolific writer' FROM vocabulary_word WHERE word = 'prolific' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'prolific writer');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'As a prolific writer, he managed to publish three novels within a single year.', FALSE, TRUE FROM vocabulary_word WHERE word = 'prolific' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'As a prolific writer, he managed to publish three novels within a single year.');
