-- ========================================================
-- Advanced IELTS Vocabulary Content
-- Safely inserts words using idempotent sub-select checks
-- Analyzed heavily from top IELTS Task 2 & Reading bands
-- ========================================================

-- #1 PRAGMATIC
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'pragmatic', 'solving problems in a practical way', 'Dealing with things sensibly and realistically in a way that is based on practical rather than theoretical considerations. Great for Problem-Solution essays.', 'ADJECTIVE', 'ADVANCED', 7.0, 9.0, 'Using it as a noun. (E.g., "He is a pragmatic.") Correct: "He took a pragmatic approach."', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'pragmatic');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'practical' FROM vocabulary_word WHERE word = 'pragmatic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'practical');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'sensible' FROM vocabulary_word WHERE word = 'pragmatic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'sensible');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'pragmatic approach' FROM vocabulary_word WHERE word = 'pragmatic' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'pragmatic approach');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Governments must adopt a pragmatic approach to immediately curb urban pollution.', FALSE, TRUE FROM vocabulary_word WHERE word = 'pragmatic' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Governments must adopt a pragmatic approach to immediately curb urban pollution.');

-- #2 INEVITABLE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'inevitable', 'certain to happen', 'Certain to happen and unable to be avoided or prevented. Used effectively in forecasting trends.', 'ADJECTIVE', 'INTERMEDIATE', 6.0, 9.0, 'Spelling mistake: "inevitible". Use an ''a'': inevitable.', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'inevitable');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'unavoidable' FROM vocabulary_word WHERE word = 'inevitable' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'unavoidable');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'inevitable consequence' FROM vocabulary_word WHERE word = 'inevitable' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'inevitable consequence');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Economic transition in developing countries is an inevitable consequence of globalization.', FALSE, TRUE FROM vocabulary_word WHERE word = 'inevitable' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Economic transition in developing countries is an inevitable consequence of globalization.');

-- #3 EMPIRICAL
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'empirical', 'based on observation or experience', 'Based on, concerned with, or verifiable by observation or experience rather than theory or pure logic. Highly scoring for academic assertions.', 'ADJECTIVE', 'ADVANCED', 7.5, 9.0, 'Confusing it with "imperial".', TRUE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'empirical');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'observational' FROM vocabulary_word WHERE word = 'empirical' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'observational');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'empirical evidence' FROM vocabulary_word WHERE word = 'empirical' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'empirical evidence');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Many researchers argue that without empirical evidence, this psychological theory remains speculative.', FALSE, TRUE FROM vocabulary_word WHERE word = 'empirical' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Many researchers argue that without empirical evidence, this psychological theory remains speculative.');

-- #4 PREDOMINANT
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'predominant', 'the main or most common thing', 'Present as the strongest or main element. Excellent when discussing IELTS Reading texts or main causes.', 'ADJECTIVE', 'ADVANCED', 6.5, 8.5, 'Using "predominate" as an adjective. "Predominate" is a verb, "predominant" is the adjective.', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'predominant');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'primary' FROM vocabulary_word WHERE word = 'predominant' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'primary');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'predominant reason' FROM vocabulary_word WHERE word = 'predominant' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'predominant reason');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'The predominant reason behind traffic congestion is rapid and unchecked urbanization.', FALSE, TRUE FROM vocabulary_word WHERE word = 'predominant' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The predominant reason behind traffic congestion is rapid and unchecked urbanization.');

-- #5 AMBIGUOUS
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'ambiguous', 'having more than one meaning', 'Open to more than one interpretation; not having one obvious meaning. Used to discuss confusing laws or unclear motives.', 'ADJECTIVE', 'ADVANCED', 7.0, 9.0, 'Mixing up with "ambivalent" (which applies to emotions/feelings).', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'ambiguous');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'unclear' FROM vocabulary_word WHERE word = 'ambiguous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'unclear');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'ambiguous statement' FROM vocabulary_word WHERE word = 'ambiguous' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'ambiguous statement');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'The legal guidelines provided to schools were too ambiguous to enforce properly.', FALSE, TRUE FROM vocabulary_word WHERE word = 'ambiguous' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The legal guidelines provided to schools were too ambiguous to enforce properly.');

-- #6 COMPREHENSIVE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'comprehensive', 'complete and including everything', 'Complete and including everything that is necessary. Highly scored when expressing solutions.', 'ADJECTIVE', 'INTERMEDIATE', 6.0, 8.5, 'Confusing it with "comprehensible", which means "able to be understood".', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'comprehensive');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'all-inclusive' FROM vocabulary_word WHERE word = 'comprehensive' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'all-inclusive');
INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'thorough' FROM vocabulary_word WHERE word = 'comprehensive' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'thorough');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'comprehensive report' FROM vocabulary_word WHERE word = 'comprehensive' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'comprehensive report');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'A comprehensive database of employee health records allows for better medical planning.', FALSE, TRUE FROM vocabulary_word WHERE word = 'comprehensive' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'A comprehensive database of employee health records allows for better medical planning.');

-- #7 PARADIGM
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'paradigm', 'a typical example or pattern', 'A typical example or pattern of something; a model or conceptual framework. Very strong for discussing societal shifts.', 'NOUN', 'ADVANCED', 7.5, 9.0, 'Mispronunciation (para-dig-em). The "g" is silent: para-dime.', TRUE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'paradigm');

INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'paradigm shift' FROM vocabulary_word WHERE word = 'paradigm' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'paradigm shift');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'The invention of the internet triggered a paradigm shift in global communication.', FALSE, TRUE FROM vocabulary_word WHERE word = 'paradigm' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The invention of the internet triggered a paradigm shift in global communication.');

-- #8 REDUNDANT
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'redundant', 'no longer needed or useful', 'Not or no longer needed or useful; superfluous. Used often in IELTS regarding employment and technology replacing humans.', 'ADJECTIVE', 'ADVANCED', 6.5, 8.5, 'Using "made redundant" to mean "fired for bad behavior." Redundant strictly means the job itself is no longer needed.', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'redundant');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'unnecessary' FROM vocabulary_word WHERE word = 'redundant' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'unnecessary');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'make redundant' FROM vocabulary_word WHERE word = 'redundant' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'make redundant');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Due to automation, many manual labor jobs have been made completely redundant.', FALSE, TRUE FROM vocabulary_word WHERE word = 'redundant' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Due to automation, many manual labor jobs have been made completely redundant.');

-- #9 COHERENT
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'coherent', 'logical and clear', 'Logical and consistent; speaking or thinking in a clear way.', 'ADJECTIVE', 'INTERMEDIATE', 6.0, 8.0, 'Confusing it with "coincide".', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'coherent');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'logical' FROM vocabulary_word WHERE word = 'coherent' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'logical');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'coherent argument' FROM vocabulary_word WHERE word = 'coherent' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'coherent argument');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'To achieve a high band score, candidates must present a coherent argument throughout the essay.', FALSE, TRUE FROM vocabulary_word WHERE word = 'coherent' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'To achieve a high band score, candidates must present a coherent argument throughout the essay.');

-- #10 DERIVE
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'derive', 'obtain something from a specified source', 'To obtain something from a specified source. Often followed by the preposition "from".', 'VERB', 'ADVANCED', 6.5, 8.5, 'Usually misused without the word "from" following it.', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'derive');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'obtain' FROM vocabulary_word WHERE word = 'derive' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'obtain');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'derive from' FROM vocabulary_word WHERE word = 'derive' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'derive from');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'Many medicines derive from natural materials originally found in rainforests.', FALSE, TRUE FROM vocabulary_word WHERE word = 'derive' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'Many medicines derive from natural materials originally found in rainforests.');

-- #11 IMPLICIT
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'implicit', 'suggested though not directly expressed', 'Suggested without being directly expressed; absolute and unreserved.', 'ADJECTIVE', 'ADVANCED', 7.0, 9.0, 'Opposite of "explicit". Using it when you mean obvious.', TRUE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'implicit');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'implied' FROM vocabulary_word WHERE word = 'implicit' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'implied');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'implicit trust' FROM vocabulary_word WHERE word = 'implicit' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'implicit trust');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_READING', 'The author makes an implicit assumption that technology guarantees societal progress.', FALSE, TRUE FROM vocabulary_word WHERE word = 'implicit' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The author makes an implicit assumption that technology guarantees societal progress.');

-- #12 PROFOUND
INSERT INTO vocabulary_word (created_at, updated_at, word, simple_meaning, detailed_meaning, part_of_speech, level, ielts_band_min, ielts_band_max, common_mistake, premium, status)
SELECT NOW(), NOW(), 'profound', 'very great or intense', 'Describing a state, quality, or emotion as very great or intense. Often collocated with effect or impact.', 'ADJECTIVE', 'INTERMEDIATE', 6.5, 9.0, 'Overused with minor issues where "significant" is more appropriate.', FALSE, 'PUBLISHED'
WHERE NOT EXISTS (SELECT 1 FROM vocabulary_word WHERE word = 'profound');

INSERT INTO vocabulary_word_synonym (vocabulary_word_id, value)
SELECT id, 'deep' FROM vocabulary_word WHERE word = 'profound' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_synonym WHERE vocabulary_word_id = vocabulary_word.id AND value = 'deep');
INSERT INTO vocabulary_word_collocation (vocabulary_word_id, value)
SELECT id, 'profound impact' FROM vocabulary_word WHERE word = 'profound' AND NOT EXISTS (SELECT 1 FROM vocabulary_word_collocation WHERE vocabulary_word_id = vocabulary_word.id AND value = 'profound impact');
INSERT INTO vocabulary_example (created_at, updated_at, vocabulary_word_id, type, sentence, ai_generated, approved)
SELECT NOW(), NOW(), id, 'IELTS_WRITING', 'The industrial revolution had a profound impact on the way societies structure their economies.', FALSE, TRUE FROM vocabulary_word WHERE word = 'profound' AND NOT EXISTS (SELECT 1 FROM vocabulary_example WHERE sentence = 'The industrial revolution had a profound impact on the way societies structure their economies.');

